@model IEnumerable<Pruebaunoparcial.Models.Curso>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.fecha_ini)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha_fin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.obsevacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.entidad)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_ini)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_fin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.obsevacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.entidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CursoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CursoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CursoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
