@model Pruebaunoparcial.Models.Contacto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Contacto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Empleado.Apellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Apellido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContactoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
