@model IEnumerable<Pruebaunoparcial.Models.Empleado>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cedula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo_gabinete)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo_gabinete)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.EmpleadoId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.EmpleadoId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.EmpleadoId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>


<div class="modal fade" id="IngresoSegui" tabindex="-1" role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"
                    id="EtiquetaModal">
                    Sexo
                </h4>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label class="control-label">Nombre</label>
                        <input id="nombre" name="nombre"
                               placeholder="Ingrese el nombre del contacto"
                               class="form-control" />
                        <label class="control-label">Apellido</label>
                        <input id="apellido" name="apellido"
                               placeholder="Ingrese el apellido del contacto"
                               class="form-control" />
                        <label class="control-label">cedula</label>
                        <input id="cedula" name="cedula"
                               placeholder="Ingrese la cedula del contacto"
                               class="form-control" />
                        <label class="control-label">telefono</label>
                        <input id="telefono" name="telefono"
                               placeholder="Ingrese el telefono del contacto"
                               class="form-control" />
                        <label class="control-label">email</label>
                        <input id="email" name="email"
                               placeholder="Ingrese el email del contacto"
                               class="form-control" />
                        <label class="control-label">direccion</label>
                        <input id="direccion" name="direccion"
                               placeholder="Ingrese el direccion del contacto"
                               class="form-control" />

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="grabaSexo();">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>

