@model Pruebaunoparcial.Models.Empleo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Empleo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cargo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Empresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_ini)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha_ini)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_fin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha_fin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mediador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mediador)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EmpleoId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
